body {
  font-family: "Goudy Old Style",Garamond,"Big Caslon","Times New Roman",serif;
  background-image: url('xv.png');


  margin: 20px auto;
  width: 90%;
}


$primary-color: orange;

h1{ 
  background-color: $primary-color;
}

h2{
  color: $primary-color;
}

  h2 a:hover{
    color: $primary-color;
  }

  h2 span {
    background-color: #000;
}

.red_price{
  color: red
}
